name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    # TODO: Run Clippy here
    # TODO: Run tests when they don't depend on environment
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Rust toolchain
      run: rustup toolchain install stable --profile minimal

    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build
